<mat-card>
  <div class="btn-box">
    <button [routerLink]="['cadastrarFuncionario']" mat-raised-button color="primary">Cadastrar</button>

    <div class="input_box">
      <mat-form-field>
        <mat-label>Procurar</mat-label>
        <input matInput type="text" placeholder="Qual registro está buscando?" (input)="search($event)">
      </mat-form-field>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="funcionarios" matSort class="mat-table-responsive">

      <!-- Nome -->
      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let f"> {{f.nome}} </td>
      </ng-container>

      <!-- Setor -->
      <ng-container matColumnDef="Setor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Setor </th>
        <td mat-cell *matCellDef="let f"> {{f.setor}} </td>
      </ng-container>

      <!-- Turno -->
      <ng-container matColumnDef="Turno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Turno </th>
        <td mat-cell *matCellDef="let f"> {{f.turno}} </td>
      </ng-container>

      <!-- Ações -->
      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let f" class="cell-acoes">
          <button [routerLink]="['/editarFuncionario', f.id]" mat-raised-button color="accent">Editar</button>
          <button [routerLink]="['/buscarFuncionarioPorId', f.id]" mat-raised-button>Detalhes</button>
        </td>
      </ng-container>

      <!-- Excluir -->
      <ng-container matColumnDef="Excluir">
        <th mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let f">
          <button mat-raised-button color="warn" (click)="OpenDialog(f.id)">Excluir</button>
        </td>
      </ng-container>

      <!-- Linhas -->
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </div>
</mat-card>

<mat-card>
  <div>
    <p><b>Informações do Desenvolvimento:</b><br>
      • <b>Backend:</b> .NET 8 Web API, hospedado na <b>Render</b> com <b>Docker</b>.<br>
      • <b>Banco:</b> PostgreSQL hospedado na <b>Aiven</b>.<br>
      • <b>Frontend:</b> Angular hospedado na <b>Vercel</b>.<br><br>
      <b>Observação:</b> A Render gratuita pode levar <b>50 segundos</b> para iniciar a API.
    </p>
  </div>
</mat-card>
