.mat-mdc-raised-button{
    margin: 8px 8px 0px 0px;
}

.card-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input_box {
  width: 250px;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

.mat-table-reponsive {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilo translúcido e escuro para o parágrafo */
.info-card {
  background: rgba(20, 20, 20, 0.6);
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
